<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
      <h1>
        Welcome to <a href="https://github.com/jorgeucano/ngrx-template">ngrx-template</a>!
      </h1>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://cdn-images-1.medium.com/max/1600/1*ri6Qm_3PckXO68wldUAhgg.png" alt="NGRX">
  <mat-card-content>
    <h2>With this template you will have:</h2>
    <h4>NGRX</h4>
    <ul>
      <li>Store</li>
      <li>store-devtools</li>
      <li>router-store</li>
      <li>router</li>
      <li>effects</li>
      <li>Schematics</li>
    </ul>

    <h4>Angular Material</h4>
    <ul>
      <li>Module and configurations</li>
    </ul>

    <h2>Next steps:</h2>
    <ul>
      <li>add demo with a simple login</li>
      <li>add branch with angularfire</li>
    </ul>

    <span>suggestions: open a issue <a href="https://github.com/jorgeucano/ngrx-template/issues/new">here</a></span>
    <span>Do you want to collaborate? send a PR</span>
  </mat-card-content>
  <mat-card-actions class="by">
    <span >Create by:<a href="https://twitter.com/@jorgeucano">@jorgeucano</a></span>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
